.DS_Store
**/.DS_Store

cocos2d/**
bin/**

**/xcuserdata/**
**/build/**


*/__pycache__/*
*.pyc

*.a
*.o
*.o.d
*.so

*.sdf
*.opensdf

*~
*.un
*.swp
*.orig

*.lib
*.dll
*.pdb

**/Debug/**

*ipch*

*.exe
*.apk
*.apk.*

*/bin/*
*/obj/*

*tags*

raw/*

Doxy*

*.7z

*.sqlite3

*local.py

assets/bundles/
node_modules/
webpack-stats.json
