{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" type="image/png" href="static/img/favicon.ico"/>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dinonaut: Defender of Celestial Dwarves</title>
		{% render_bundle 'main' 'css'%}
	</head>

	<body>
		<div id="root">
			<div id="canvas-wrapper"></div>
			<h3>
				<a href="https://ldjam.com/events/ludum-dare/38/dinonaut-defender-of-celestial-dwarves/" target="_blank">Ludum Dare 38 Entry</a>
			</h3>
			<h3>
				<a href="https://soundcloud.com/applepicke/dinonaut-defender-of-celestial-dwarfs" target="_blank">Original music by Applepicke</a>
			</h3>
		</div>
		{% render_bundle 'vendor' 'js'%}
		{% render_bundle 'main' 'js'%}
	</body>
</html>
